<% include ../partials/header.ejs %>
<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="<%= user.avatar %>" alt="User profile picture">
            <div class="caption text-center">
                <h3><%= user.username %></h3>
                <h4><%= user.firstName + " " + user.lastName %></h4>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <h3><%= user.username %>'s campgrounds</h3>
        <ul>
            <% campgrounds.forEach((campground)=>{ %>
                <li>
                    <a href="/campgrounds/<%= campground.slug %>"><%= campground.name %></a>
                </li>
            <% }); %>
        </ul>
    </div>
</div>
<% include ../partials/footer.ejs %>